extends layout 
block content
    #banner.page-header
        .row
            .col-lg-6
                h1
                    | MekanBul
                    small &nbsp; Civardaki mekanları keşfet!
    .row
        .row.list-group
        .col-xs-12.col-sm-12
            .col-cs-12.list-group-item
                h4
                    a(href='/mekan') Starbucks
                    small &nbsp;
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty
                span.badge.pull-right.badge-default 10km
                p.address Centrum Garden AVM
                p
                    span.label.label-warning Dünya Kahveleri
                    | &nbsp;
                    span.label.label-warning Kekler
                    | &nbsp;
                    span.label.label-warning Pastalar
                    | &nbsp;
        |   &nbsp;
    .row
        .row-list-group 
        .col-xs-12.col-sm-12
            .col-xs-12.list-group-item
                h4 
                    a(href='/mekan') Yemekhane
                    small &nbsp;
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star-empty
                    span.glyphicon.glyphicon-star-empty
                    span.glyphicon.glyphicon-star-empty
                    span.glyphicon.glyphicon-star-empty



                span.badge.pull-right.badge-default 1 km
                p.address SDÜ Batı Kampüsü
                p
                    span.label.label-warning Yemek
                    |   &nbsp;
                    span.label.label-warning Pahalılık
            |   &nbsp;
    .row
        .row-list-group 
        .col-xs-12.col-sm-12
            .col-xs-12.list-group-item
                h4 
                    a(href='/mekan') Isparta Havalimanı
                    small &nbsp;
                    span.glyphicon.glyphicon-star 
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star
                    span.glyphicon.glyphicon-star-empty



                span.badge.pull-right.badge-default 10 km
                p.address Isparta
                p
                    span.label.label-warning seyahat
                    |   &nbsp;
                    span.label.label-warning yurtdışı
